.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

img {
    width: 250px;
    align-self: center;
    border-radius: 20px;
  }

.item {
  width: 150px;
  text-decoration: none;
  color: #222;
  background-color: grey;
  transition: transform 500ms ease-in-out;
  padding: 20px;
}

a:hover {
  transform: scale(1.15);
  background-color: antiquewhite;
}

p {
  max-width: 25ch;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

