.container {
  display: flex;
  text-align: center;
  gap: 50px;
}

img {
  width: 300px;
  align-content: flex-end;
  border-radius: 10px;
  max-height: 275px;
  justify-content: end;
  padding: 10px;
}

.item {
  height: 600px;
  text-decoration: none;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.itemText {
  font-size: large;
  display: flex;
  flex-direction: column;
}

p {
  max-width: fit-content;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

button {
  display: inline-block;
  border-radius: 8px;
  background-color:grey;
  color: whitesmoke;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 150px;
  margin: 5px;
  transition: all 500ms;
  cursor: pointer;
}

button span {
  transition: 500ms;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

button span:after {
  content: '\2728';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 500ms;
}

button:hover span {
  padding-right: 27px;
}

button:hover span:after {
  opacity: 2;
  right: 0;
}

form{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 200px
}

label{
  padding: 10px;
}

textarea{
  width: 500px;
  height: 250px;
}
